@font-face {
    font-family: 'Atop';
    src: url(Atop-R99O3.ttf);
}

:root {
    --violet: #9B5DE5;
    --light-pink: #FFD6E0;
    --pink: #F15BB5;
    --yellow: #FFEF9F;
    --blue: #00BBF9;
    --turquise: #00F5D4;
    --green: #C1FBA4;
    --dark-green: #1CE76A;
    --orange: #fe9920;
    --red: #ef476f;
    --font-bobbly: 'Atop', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--font-bobbly);
    font-size: 7rem;
    font-weight: 100;
    text-align: center;
    color: var(--violet);
    margin: 10px;
}

h2 {
    font-family: var(--font-bobbly);
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    color: var(--red);
    margin: 10px;
}


.ballicon {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

.main-container {
    border: #00BBF9 solid 20px;
    border-radius: 5%;
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--green);

}

.ball-container {
    height: 100%;
    width: 100%;
    border-radius: 20%;
    position: relative;
}

.ball {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    position: absolute;
    background-color: var(--pink);
}


#ball1 {
    top: 0;
    left: 0;

}